{% extends "base.html" %}
{% block content %}
  <div style="margin-top: 30px; justify-content: space-around;">
  <a style="display: inline; float: right" type="button" class="btn btn-success" href="{% url "todo:tag-create" %}">Add</a>
  <h1 style="display: inline">Tag list</h1>
  <h6>click to delete</h6>
  <ul>
  {% for tag in tag_list %}
    <li style="list-style-type: none;">
      <a href="{% url 'todo:tag-delete' pk=tag.pk%}">{{ tag.name }}</a>
    </li>
  {% endfor %}
  </ul>
  </div>
{% endblock %}
